body{
    margin: 0;
    font-family: 'Handlee', Open Sans;
}
#header{
    padding: 20px;
    background-image: url(assets/backgrounds/landing.jpg);
    background-repeat: no-repeat;
    /* height: 200px; */
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
#header p{
    /* text-align: center; */
    font-size:xx-large;
    color: white;
    margin: 2px;
}
main{
    display: flex;
    text-align: center;
    height: 200px;
    width: 100%;
    /* margin: 10px; */
    margin-top: 410px;
    position: absolute;
    color:white ;
    

}
main>div{
    border: violet;
    width: 25%;
}
#zero{
    display: flex;
    flex-direction: column;
}
#zero p{
margin-top: 60px;
}

#first{
    background-color: lightgray;
    color: black;
    height: 50%;
    margin-top: 0px;
    
}
#second{

    background-color: #F15A29;
    height: 50%;
    margin-top: 0px;
}
#third{
    background-image: url(assets/foodtop/breakfast.jpg);
    background-position: center;
  
}
#third p{
    margin-top: 80px;
    font-style: italic;
}
#fourth{
    background-image: url(assets/foodtop/lunch.jpg);
    background-position: center;
    opacity: 0.6;
}
#fourth p{
    margin-top: 80px;
    font-style: italic;
}
#fifth{
    background-image: url(assets/foodtop/dinner.jpg);
    background-position: center;
}
#fifth  p{
margin-top: 80px;
font-style: italic;
}
/* #Fast Food{
    display: flex;
    text-align: center;
    width: 50%;
    margin-left: 25px;
} */
#fast_food{ 
    
    position: absolute;
    top: 65%;
    display: flex;
    justify-content: center;
   border: white solid 5px;
}

#images{
    border: 10px solid white;
    box-shadow: 0px 0px 5px grey;
    height: 445px;
    width: 550px;
    margin-top: 0px;
    background-position: center;
    display: flex;
    flex-direction: column;

    


}
#image1{
    background-image: url(assets/fastFood1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;


}
#image2{
    background-image: url(assets/fastFood2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    

}
.content{
    
    padding-left: 80px;
    width: 25%;
    /* text-align: center; */
    


}
#content1{
    text-align: left;
}
#content2{
   text-align: right;
   padding-left: 20px;
   margin-left: 100px;
}

#drinks{ 
    
    position: absolute;
    top: 120%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
   border: white solid 5px;
   /* margin-top: 40px; */
}

#images_drinks{
    border: 10px solid white;
    box-shadow: 0px 0px 5px grey;
    height: 445px;
    width: 550px;
    margin-top: 300px;
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    margin-left: 500px;

    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}
#image_drinks1{
    background-image: url(assets/drink1.jpg);
    background-repeat: no-repeat;
    background-size: center;
    background-size: cover;
    height: 50%;
    width: 100%;


}
#image_drinks2{
    background-image: url(assets/drink2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
 

}

/* #menu{
    background-image: url(assets/backgrounds/foodsBg.jpg);
    position: absolute;
    top: 10%;
    display: flex;
    /* flex-direction: row-reverse;
    justify-content: center; */
   /* border: green solid 5px;
}  */
/* .content2btn{
    background-color: transparent;
    border: white solid 2px;
 padding-right: 10px;
    padding-left: 10px;
    padding: 5px;
color: tomato; */

/* } */
.button_link {
    margin-top: 40px;
}

.button_link a {
    border: 2px solid #F15A29;
    padding: 10px;
    border-radius: 3px;
}

.button_link a:link {
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #F15A29;
}

.button_link a:visited {
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #F15A29;
}

.button_link a:hover {
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 0px 2px #444444;
}


.menu{
    background-image:url(assets/backgrounds/foodsBg.jpg) ;
    border: white solid 3px;
    height: 40%;
    width: 100%;
    background-position: center;
    position: absolute;
    margin-top: 1800px;
    text-align: center;
    margin-left: 15%;
    opacity: 10;
    background-repeat: no-repeat;
    background-size: cover;

}
.row{
    text-align: center;

    
}
.nav-contents{
margin: 0px;
background-color: white;
height: auto;
width: 70%;

margin-left: 10%;
margin-right: 10%;


}.nav{
    background-color: grey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
.nav a{
    float: left;
    text-align: center;
    /* color: black; */
    text-decoration: none;
    padding: 14px 16px;
    margin-left: 190px;
    font-size: 17px;
}
.a
{
   background-color: grey; 
   color: black;
}
.b{
    background-color: grey; 
   color: black;
}
.c{
    background-color: grey; 
   color: black;
   
}
.active{
    background-color: white;
    color: #F15A29;
    margin-left: 0px;
    

}
.menu_pics{
    border: solid white 3px;
    /* background-image: url(assets/fastfood/chickenBurger.jpg),url(assets/fastfood/beefBurger.jpg),url(assets/fastfood/chickenPizza.jpg), no-repeat; */
   
}

/* .first li{
    sty;
} */
.first ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.first li {
    list-style-type: none;

    float: left;
}
li {
    /* border-right: 1px solid #bbb; */
}

/* li:last-child {
    border-right: none;
} */


ul#horizontal-list {
	min-width: 100%;
	list-style: none;
	padding-top: 8px;
    background-color: transparent;
	}
	ul#horizontal-list li {
		display: inline;
        background-color: transparent;
	} 
    #testimonials_container {
        position: absolute;
        width: 100%;
        height: 500px;
        top: 2548px;
        left: 0px;
        text-align: center;
        justify-content: center;
        border: springgreen solid 3px;
    }
    
    #testimonials {
        position: relative;
        background-color: white;
        width: 70%;
        height: 75%;
        text-align: center;
        box-shadow: 0px 0px 5px gray;
        display: flex;
        flex-direction: row;
        font-size: small;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    
    #testimonials div {
        width: 50%;
        padding: 40px;
    
    }
    
    #testimonials div p {
        font-family: sans-serif;
        font-size: 18px;
    }
    
    #customers_pics {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
        height: 30px;
    }
    
    #p1 {
        background-image: url(assets/customers/p1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: scale(0.8);
        margin: 5px;
    }
    
    #p2 {
        background-image: url(assets/customers/p2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 5px;
    }
    
    #p3 {
        background-image: url(assets/customers/p3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: scale(0.8);
        margin: 5px;
    }
    
    #customers_pics div i {
        color: #F15A29;
        font-size: x-large;
        position: absolute;
    
    }
    
    #customers h4 {
        color: #F15A29;
    }
    
    #about_menu h4 {
        color: #F15A29;
    }
    #email_section {
        position: absolute;
        top: 3070px;
        left: 0;
        background-image: url(assets/backgrounds/subscribe.jpg);
        width: 100%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    
    
    #form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
    
    #cta {
        margin-top: 140px;
    }
    
    #email {
        background-color: rgba(255, 255, 255, 0.521);
        width: 60%;
        text-align: left;
        padding: 15px;
        border-radius: 4px;
    }
    
    #subscribe {
        background-color: #F15A29;
        width: 25%;
        text-align: center;
        padding: 15px;
        border-radius: 4px;
    }
    
    #footer {
        color: white;
        position: absolute;
        background-color: #f15b29;
        height: 370px;
        width: 100%;
        top: 3470px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    #ftr_logo {
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    
    #ftr_logo img {
        padding-top: 30px;
        padding-right: 5px;
    }
    
    #footer>p {
        text-transform: capitalize;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    #social_media {
        text-align: center;
    }
    
    #last {
        font-size: 15px;
        margin-top: 70px;
    }





